.rettangolo{
    background-color: cornflowerblue;
    width: 1710px;
    height: 180px;
    background-image: url(./img/pattern.png);
    
}
#image-logo{
    width: 250px;
    height: auto;
    margin-top: 110px;
}
#Title-page{
    font-size: 50px;
    margin-right: 20%;
}
#subtitle,#date{
    size: 5px;
    color: grey;
}
#author{
    color: blue;
    text-decoration: underline;
    
}
#Credit1, #Credit2{
    font-size: 12px;
}
#description1, #list{
    font-weight: bold;
}
table , th, td {
    
    border: 1px solid black;
    border-collapse: collapse;
    text-align: left;
    padding: 4px;
    
    
}
thead{
    background-color: cornflowerblue;
    
   
}
#colonna1, #colonna3{
    background-color: lightskyblue;
}

